
/* Header styles */
header {
    background-color: #F7EFE5;
}

/* Logo link styles */
.logo {
    color: #674188;
    text-decoration: none;
}

/* Wrapper styles */
.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

/* NavLink styles */
.nav-link {
    color: #1A4870;
    text-decoration: none;
    gap: 10px;
}

/* Nav styles */
nav {
    display: flex;
    gap: 5px;
}