# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing

# next.js

# production

# misc
pages/api/auth

# debug

# local env files
.env
*.local

# vercel

# typescript
